{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Body Content -->
<div id="page-content">
    <!-- Home Banner slider -->
    <div class="slideshow slideshow-wrapper pb-section sliderFull">
        <div class="home-slideshow">
            <div class="slide slide1 d-block">
                <div class="slideimg blur-up lazyload bg-size">
                    <img class="blur-up lazyload bg-img" data-src="{% static '/images/slideshow-banners/artemirate-banner1.jpg' %}" src="{% static '/images/slideshow-banners/artemirate-banner1.jpg' %}" alt="Welcome to Diva New Fashion style" title="Welcome to Diva New Fashion style" />
                    <div class="slideshow__text-wrap slideshow__overlay classic bottom">
                        <div class="slideshow__text-content mt-0 text-shadow center">
                            <div class="container">
                                <div class="wrap-caption left">
                                    <p class="mega-small-title">Welcome to</p>
                                    <h2 class="h1 mega-title slideshow__title">Diva New Fashion style</h2>
                                    <span class="mega-subtitle slideshow__subtitle">Made with love and passion</span>
                                    <a href="collection-3columns.html" class="btn btn--large">Shop now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slide slide2 d-block">
                <div class="slideimg blur-up lazyload bg-size">
                    <img class="blur-up lazyload bg-img" data-src="{% static '/images/slideshow-banners/artemirate-banner2.jpg' %}" src="{% static '/images/slideshow-banners/artemirate-banner2.jpg' %}" alt="Happy Customers" title="Happy Customers" />
                    <div class="slideshow__text-wrap slideshow__overlay classic bottom">
                        <div class="slideshow__text-content mt-0 center">
                            <div class="container">
                                <div class="wrap-caption right">
                                    <h2 class="h1 mega-title slideshow__title">Happy Customers</h2>
                                    <span class="mega-subtitle slideshow__subtitle">Save up to 50% off this weekend only</span>
                                    <a href="collection-4columns.html" class="btn btn--large">Shop now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slide slide3 d-block">
                <div class="slideimg blur-up lazyload bg-size">
                    <img class="blur-up lazyload bg-img" data-src="{% static '/images/slideshow-banners/artemirate-banner3.jpg' %}" src="{% static '/images/slideshow-banners/artemirate-banner3.jpg' %}" alt="Unique Styles" title="Unique Styles" />
                    <div class="slideshow__text-wrap slideshow__overlay classic bottom">
                        <div class="slideshow__text-content mt-0 text-shadow center">
                            <div class="container">
                                <div class="wrap-caption left">
                                    <h2 class="h1 mega-title slideshow__title">Unique Styles</h2>
                                    <span class="mega-subtitle slideshow__subtitle">We design and developed theme that are amazingly Unique</span>
                                    <a class="btn btn--large">Buy now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Home Banner slider -->
</div>
<!-- End Body Content -->
{% endblock %}