{% extends 'base.html' %}
{% load static %}
{% block content %}          

<!-- Body Content -->
<div id="page-content">
    <!-- Home Banner slider -->
    <div class="slideshow slideshow-wrapper pb-section">
        <div class="home-slideshow slideshow--large">
            <div class="slide slide1 d-block">
                <div class="slideimg blur-up lazyload">
                    <a href="collection-3columns.html"><img class="blur-up lazyload" data-src="{% static '/images/slideshow-banners/artemirate-banner1.webp' %}" src="{% static '/images/slideshow-banners/artemirate-banner1.webp' %}" alt="banner" title="" /></a>
                </div>
            </div>
            <div class="slide slide2 d-block">
                <div class="slideimg blur-up lazyload">
                    <a href="collection-4columns.html"><img class="blur-up lazyload" data-src="{% static '/images/slideshow-banners/artemirate-banner2.webp' %}" src="{% static '/images/slideshow-banners/artemirate-banner2.webp' %}" alt="banner" title="" /></a>
                </div>
            </div>
            <div class="slide slide3 d-block">
                <div class="slideimg blur-up lazyload">
                    <a href="collection-4columns.html"><img class="blur-up lazyload" data-src="{% static '/images/slideshow-banners/artemirate-banner3.webp' %}" src="{% static '/images/slideshow-banners/artemirate-banner3.webp' %}" alt="banner" title="" /></a>
                </div>
            </div>
        </div>
    </div>
    <!-- End Home Banner slider -->

    <!-- Store Feature -->
    <div class="section store-feature style3 no-pb-section">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-6 col-md-6 col-lg-6 mb-2">
                    <div class="store-info px-3 py-3 text-center">
                        <div class="icons mb-3"><i class="icon an an-truck"></i></div>
                        <div class="store-info-text">
                            <h5>Free Worldwide Shipping</h5>
                            <span class="sub-text">Free shipping on all US orders</span>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-6 mb-2">
                    <div class="store-info px-3 py-3 text-center">
                        <div class="icons mb-3"><i class="icon an an-lock"></i></div>
                        <div class="store-info-text">
                            <h5>Secure Payment System</h5>
                            <span class="sub-text">All payment are Secured, trusted.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Store Feature -->

</div>
<!-- End Body Content -->
{% endblock %}
            

