{% load static %}
<!-- Main Header -->
<div class="header-section clearfix animated hdr-sticky">
    <!-- Desktop Header -->
    <div class="header-6 classic-style">
        <!-- Top Header -->
        <div class="top-header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-10 col-sm-8 col-md-7 col-lg-4">
                        <div class="currency picker float-start">
                            <select class="nice-select" name="currency">
                                <option value="INR">INR</option>
                            </select>
                        </div>
                        <div class="language picker float-start">
                            <select class="nice-select" name="language">
                                <option value="EN">English</option>
                            </select>
                        </div>
                        <p class="phone-no float-start"><i class="icon an an-phone me-1"></i><a href="tel:+919188848860">+919188848860</a></p>
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4 d-none d-md-none d-lg-block">
                        <div class="text-center">
                            <p class="top-header_middle-text transform-none">Summer sale discount off 50%!</p>
                        </div>
                    </div>
                    <div class="col-2 col-sm-4 col-md-5 col-lg-4 text-end d-none d-sm-block d-md-block d-lg-block">
                        <div class="header-social">
                            <ul class="justify-content-end list--inline social-icons">
                                <li><a class="social-icons__link" href="#" target="_blank" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Facebook"><i class="icon an an-facebook"></i> <span class="icon__fallback-text">Facebook</span></a></li>
                                <li><a class="social-icons__link" href="#" target="_blank" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Twitter"><i class="icon an an-twitter"></i> <span class="icon__fallback-text">Twitter</span></a></li>
                                <li><a class="social-icons__link" href="#" target="_blank" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Pinterest"><i class="icon an an-pinterest-p"></i> <span class="icon__fallback-text">Pinterest</span></a></li>
                                <li><a class="social-icons__link" href="#" target="_blank" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Instagram"><i class="icon an an-instagram"></i> <span class="icon__fallback-text">Instagram</span></a></li>
                                <li><a class="social-icons__link" href="#" target="_blank" data-bs-toggle="tooltip" data-bs-placement="bottom" title="YouTube"><i class="icon icon an an-youtube"></i> <span class="icon__fallback-text">YouTube</span></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-2 col-sm-4 col-md-5 col-lg-4 text-end d-block d-sm-none d-md-none d-lg-none">
                        <!-- Mobile User Links -->
                        <div class="user-menu-dropdown">
                            <span class="user-menu"><i class="an an-user-alt"></i></span>
                            <ul class="customer-links list-inline" style="display:none;">
                                <li class="item"><a href="login.html">Login</a></li>
                                <li class="item"><a href="register.html">Register</a></li>
                                <li class="item"><a href="my-account.html">Orders</a></li>
                                <li class="item"><a href="compare.html">Compare</a></li>
                            </ul>
                        </div>
                        <!-- End Mobile User Links -->
                    </div>
                </div>
            </div>
        </div>
        <!-- End Top Header -->

        <!-- Header -->
        <div class="header-wrap d-flex border-bottom">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-4 col-sm-4 col-md-5 col-lg-8 d-block d-lg-none">
                        <button type="button" class="btn--link site-header__menu js-mobile-nav-toggle mobile-nav--open" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Menu"><i class="icon an an-times"></i><i class="icon an an-bars"></i></button>
                        <!-- Mobile Search -->
                        <div class="site-header__search d-block d-lg-none mobile-search-icon">
                            <button type="button" class="search-trigger" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Search"><i class="icon an an-search"></i></button>
                        </div>
                        <!-- End Mobile Search -->
                    </div>

                    <div class="col-4 col-sm-4 col-md-4 col-lg-5 d-none d-lg-block">
                        <!-- Search -->
                        <div class="site-header__search search-bar-inline">
                            <form action="#" class="search-bar__form d-flex position-relative">
                                <input class="search__input" type="search" name="q" value="" placeholder="Search entire store..." aria-label="Search" autocomplete="off" />
                                <button class="go-btn search__button" type="submit"><i class="icon an an-search"></i></button>
                            </form>
                        </div>
                        <!-- End Search -->
                    </div>

                    <!-- Desktop Logo -->
                    <div class="logo col-4 col-sm-4 col-md-2 col-lg-2 text-center">
                        <a href="{% url 'index' %}"><img src="{% static 'images/logo/logo-white.png' %}" alt="Artemirate Logo" title="Artemirate" /></a>
                    </div>
                    <!-- End Desktop Logo -->

                    <!-- Right Side -->
                    <div class="col-4 col-sm-4 col-md-5 col-lg-5">
                        <div class="right-action text-action d-flex-align-center justify-content-end">
                            <!-- Search -->
                            <div class="item site-header__search d-none">
                                <button type="button" class="search-trigger"><i class="icon an an-search"></i><span class="text align-middle ms-1 d-none d-md-inline-block">Search</span></button>
                            </div>
                            <!-- End Search -->
                            <!-- User Links -->
                            <div class="item site-user-menu d-none d-sm-inline-block">
                                <a href="login.html" class="icon-login text-capitalize text-nowrap"><i class="icon an an-user-alt"></i><span class="text align-middle ms-1 d-none d-md-inline-block">Login</span></a>
                            </div>
                            <!-- End User Links -->
                            <!-- Wishlist -->
                            <div class="item site-header-wishlist">
                                <a href="wishlist.html" class="icon-wishlist text-capitalize"><i class="icon an an-heart"></i><span class="text align-middle ms-1 d-none d-md-inline-block">Wishlist</span><span id="WishCount" class="site-header-wish-count1 ms-1" data-cart-render="item_count">(0)</span></a>
                            </div>
                            <!-- End Wishlist -->
                            <!-- Minicart -->
                            <div class="item site-cart">
                                <a href="cart.html" class="icon-cart site-header-cart btn-minicart text-capitalize" data-bs-toggle="modal" data-bs-target="#minicart-drawer"><i class="icon an an-shopping-bag"></i><span class="text align-middle ms-1 d-none d-md-inline-block">Cart</span><span id="CartCount" class="site-header__cart-count1 ms-1" data-cart-render="item_count">(0)</span></a>
                            </div>
                            <!-- End Minicart -->
                        </div>
                    </div>
                    <!-- End Right Side -->
                </div>
            </div>
        </div>
        <!-- End Header -->

        <!-- Desktop Navigation -->
        <div class="main-navigation d-none d-lg-block">
            <!-- Desktop Menu -->
            <nav class="grid__item" id="AccessibleNav">
                <ul id="siteNav" class="d-flex flex-wrap site-nav medium center m-auto hidearrow">
                    <li class="lvl1 parent">
                        <a href="{% url 'index' %}">Home <i class="an an-angle-down"></i></a>
                    </li>
                    <li class="lvl1 parent megamenu">
                        <a href="#">Dinnerware <i class="an an-angle-down"></i></a>
                        <div class="megamenu style2">
                            <ul class="row mmWrapper">
                                {% for collection in collection_links %}
                                    <li class="lvl-1 col-md-3 col-lg-3">
                                        <a href="{{ collection.get_slug_url }}" class="site-nav lvl-1 menu-title">{{ collection.collection_name }}</a>
                                        <a href="{{ collection.get_slug_url }}" class="catalogueImg mb-2"><img src="{{ collection.main_image.url }}" alt="{{ collection.collection_name }}" /></a>
                                        <ul class="subLinks">
                                            <li class="lvl-2"><a href="{{ collection.get_slug_url }}" class="site-nav">Shop Now</a></li>
                                        </ul>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </li>
                    <li class="lvl1 parent">
                        <a href="#">Cutlery <i class="an an-angle-down"></i></a>
                    </li>
                    <li class="lvl1 parent dropdown">
                        <a href="#">About Us <i class="an an-angle-down"></i></a>
                        <ul class="dropdown">
                            <li><a href="blog-left-sidebar.html" class="site-nav">Who are We?</a></li>
                            <li><a href="blog-right-sidebar.html" class="site-nav">Catalogue</a></li>
                            <li><a href="blog-grid-view.html" class="site-nav">FAQs</a></li>
                            <li><a href="blog-list-view.html" class="site-nav">Contact Us</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <!-- End Desktop Menu -->
        </div>
        <!-- End Desktop Navigation -->
    </div>
    <!-- End Desktop Header -->
</div>
<!-- End Main Header -->

<!-- Mobile Menu -->
<div class="mobile-nav-wrapper dark-wrapper" role="navigation">
    <div class="closemobileMenu"><i class="icon an an-times-circle closemenu"></i> Close Menu</div>
    <ul id="MobileNav" class="mobile-nav">
        <li class="lvl1 parent megamenu">
            <a href="index.html">Home </a>
        </li>
        <li class="lvl1 parent megamenu">
            <a href="#">Dinnerware <i class="an an-plus"></i></a>
            <ul>
                {% for collection in collection_links %}
                    <li>
                        <a href="{{ collection.get_slug_url }}" class="site-nav">{{ collection.collection_name }}</a>
                    </li>
                {% endfor %}
            </ul>
        </li>
        <li class="lvl1 parent megamenu">
            <a href="product-layout1.html">Cutlery </a>
        </li>
        <li class="lvl1 parent megamenu">
            <a href="lookbook-2columns.html">About Us <i class="an an-plus"></i></a>
            <ul>
                <li>
                    <a href="#" class="site-nav">Who are We? </a>
                </li>
                <li>
                    <a href="#" class="site-nav">Catalogue </a>
                </li>
                <li>
                    <a href="#" class="site-nav">FAQs </a>
                </li>
                <li>
                    <a href="#" class="site-nav">Contact Us </a>
                </li>
            </ul>
        </li>
    </ul>
</div>
<!-- End Mobile Menu -->