{% extends 'base.html' %}
{% load static %}
{% block content %}
<div id="page-content">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 main-col">
                <div class="section-header text-center mt-5">
                    <h2 class="h2">{{ single_product.product_name }}</h2>                    
                </div>
            </div>
        </div>
        <div id="ProductSection-product-template" class="product-template__container prstyle2">
            <!-- #ProductSection product template -->
            <div class="product-single product-single-1">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                        <div class="product-details-img product-single__photos bottom">
                            <!-- Product Images -->
                            <div class="zoompro-wrap product-zoom-right pl-20">
                                <div class="zoompro-span">
                                    <img class="blur-up lazyload zoompro" data-zoom-image="{{ single_product.main_image.url }}" alt="" src="{{ single_product.main_image.url }}" />               
                                </div>
                                <div class="product-labels"><span class="lbl pr-label1">new</span><span class="lbl on-sale">Exclusive</span></div>
                            </div>
                            <div class="product-thumb product-thumb-1">
                                <div id="gallery" class="product-dec-slider-1 product-tab-left">
                                    <a data-image="{{ single_product.main_image.url }}" data-zoom-image="{{ single_product.main_image.url }}" class="slick-slide slick-cloned active" data-slick-index="-4" aria-hidden="true" tabindex="-1">
                                        <img class="blur-up lazyload" src="{{ single_product.main_image.url }}" alt="" />
                                    </a>
                                </div>
                            </div>
                            <div class="lightboximages">
                                <a href="{{ single_product.main_image.url }}" data-size="1462x2048"></a>
                            </div>
                            <!-- End Product Images -->
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                        <!-- Product Info -->
                        <div class="product-single__meta">
                            <h1 class="product-single__title">{{ single_product.product_name }}</h1>
                            <!-- Product Info -->
                            <div class="prInfoRow">
                                <div class="product-stock"> <span class="instock ">In Stock</span> <span class="outstock hide">Unavailable</span> </div>
                                <div class="product-sku">SKU: <span class="variant-sku">19115-rdxs</span></div>
                                <div class="product-review">
                                    <a class="reviewLink d-flex flex-wrap align-items-center" href="#tab2">
                                        <i class="an an-star"></i><i class="an an-star"></i><i class="an an-star"></i><i class="an an-star"></i><i class="an an-star-half-alt"></i>
                                        <span class="spr-badge-caption">6 reviews</span>
                                    </a>
                                </div>
                            </div>
                            <!-- End Product Info -->
                            <!-- Product Price -->
                            <div class="product-single__price product-single__price-product-template">
                                <span class="visually-hidden">Regular price</span>
                                <s id="ComparePrice-product-template"><span class="money">$900.00</span></s>
                                <span class="product-price__price product-price__price-product-template product-price__sale product-price__sale--single">
                                    <span id="ProductPrice-product-template"><span class="money">$788.00</span></span>
                                </span>
                                <span class="product__policies rte ms-2" data-product-policies="">Tax included.</span>
                            </div>
                            <!-- End Product Price -->
                            <!-- Product Description -->
                            <div class="product-single__description rte">
                                <p class="mb-2">Product Details:</p>
                                <ul class="checkmark">
                                    <li>Category: <strong>{{ single_product.collection }}</strong></li>
                                    <li>Material: <strong>{{ single_product.material }}</strong></li>
                                    <li>Product Type: <strong>{{ single_product.type }}</strong></li>
                                    <li>Shape: <strong>{{ single_product.shape }}</strong></li>
                                    <li>Usage: <strong>{{ single_product.usage }}</strong></li>
                                </ul>
                            </div>
                            <!-- End Product Description -->
                            <!-- Form -->
                            <form method="post" action="{% url 'add_to_cart' single_product.id %}" id="product_form_10508262282" accept-charset="UTF-8" class="product-form product-form-product-template hidedropdown product-form-border" enctype="multipart/form-data">
                                {% csrf_token %}
                                <!-- Product Action -->
                                <div class="swatch clearfix swatch-1 option1 col-4" data-option-index="1">
                                    <div class="product-form__item">
                                        <label class="header">Size:</label>
                                        <select class="single-option-selector product-form__input" name="size" required="required">
                                            <option value="" selected="selected">Select</option>
                                            {% for i in single_product.variant_set.sizes %}
                                            <option value="{{ i.value | lower }}">{{ i.value | capfirst }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="swatch clearfix swatch-0 option2 col-4" data-option-index="0">
                                    <div class="product-form__item">
                                        <label class="header">Color: </label>
                                        <select class="single-option-selector product-form__input" name="color" required="required">
                                            <option value="" selected="selected">Select</option>
                                            {% for i in single_product.variant_set.colors %}
                                            <option value="{{ i.value | lower }}">{{ i.value | capfirst }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="swatch clearfix swatch-0 option2 col-4" data-option-index="0">
                                    <div class="product-form__item">
                                        <label class="header">Finishing:</label>
                                        <select class="single-option-selector product-form__input" name="finishing" required="required">
                                            <option value="" selected="selected">Select</option>
                                            {% for i in single_product.variant_set.finishings %}
                                            <option value="{{ i.value | lower }}">{{ i.value | capfirst }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="product-action clearfix">
                                    {% if single_product.stock <= 0 %}            
                                    <h5 class="text-danger">OUT OF STOCK</h5>
                                    {% else %}
                                    <div class="product-form__item--quantity">
                                        <div class="wrapQtyBtn">
                                            <div class="qtyField">
                                                <a class="qtyBtn minus" href="javascript:void(0);"><i class="icon an an-minus" aria-hidden="true"></i></a>
                                                <input type="text" name="quantity" value="1" class="product-form__input qty" readonly/>
                                                <a class="qtyBtn plus" href="javascript:void(0);"><i class="icon an an-plus" aria-hidden="true"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product-form__item--submit">
                                        <button type="submit" name="add" class="btn product-form__cart-submit"><span>Add to cart</span></button>
                                    </div>
                                    <div class="payment-button" data-shopify="payment-button">
                                        <button type="button" class="payment-button__button payment-button__button--unbranded">Buy it now</button>
                                    </div>
                                    {% endif %}
                                </div>
                                <!-- End Product Action -->
                                <!-- Wishlist - Compare -->
                                <div class="infolinks d-flex flex-wrap align-items-center px-0 mb-0">
                                    <a class="wishlist add-to-wishlist d-flex align-items-center" href="wishlist.html"><i class="icon an an-heart me-1" aria-hidden="true"></i> <span>Add to Wishlist</span></a>
                                </div>
                                <!-- End Wishlist - Compare -->
                            </form>
                            <!-- End Form -->
                            <!-- Store Info -->
                            <div class="safecheckout row my-3">
                                <div class="item col-lg-3">
                                    <div class="icon"><i class="icon an an-truck"></i></div>
                                    <div class="content">Free & fast shipping</div>
                                </div>
                                <div class="item col-lg-3">
                                    <div class="icon"><i class="icon an an-certificate"></i></div>
                                    <div class="content">Secure checkout</div>
                                </div>
                                <div class="item col-lg-3">
                                    <div class="icon"><i class="icon an an-thumbs-up"></i></div>
                                    <div class="content">Satisfaction guarantee</div>
                                </div>
                                <div class="item col-lg-3">
                                    <div class="icon"><i class="icon an an-lock"></i></div>
                                    <div class="content">Privacy protected</div>
                                </div>
                            </div>
                            <!-- End Store Info -->
                            <!-- Social Sharing -->
                            <div class="social-sharing mx-0 mb-1">
                                <span class="label">Share:</span>
                                <a target="_blank" href="#" class="btn btn--small btn--secondary btn--share share-facebook" data-bs-toggle="tooltip" data-bs-placement="top" title="Share on Facebook">
                                    <i class="icon an an-facebook" aria-hidden="true"></i><span class="share-title" aria-hidden="true">Facebook</span>
                                </a>
                                <a target="_blank" href="#" class="btn btn--small btn--secondary btn--share share-twitter" data-bs-toggle="tooltip" data-bs-placement="top" title="Tweet on Twitter">
                                    <i class="icon an an-twitter" aria-hidden="true"></i><span class="share-title" aria-hidden="true">Tweet</span>
                                </a>
                                <a target="_blank" href="#" class="btn btn--small btn--secondary btn--share share-google" data-bs-toggle="tooltip" data-bs-placement="top" title="Share on google+">
                                    <i class="icon an an-google-plus" aria-hidden="true"></i><span class="share-title" aria-hidden="true">Google+</span>
                                </a>
                                <a target="_blank" href="#" class="btn btn--small btn--secondary btn--share share-pinterest" data-bs-toggle="tooltip" data-bs-placement="top" title="Pin on Pinterest">
                                    <i class="icon an an-pinterest-p" aria-hidden="true"></i><span class="share-title" aria-hidden="true">Pin it</span>
                                </a>
                                <a target="_blank" href="#" class="btn btn--small btn--secondary btn--share share-email" data-bs-toggle="tooltip" data-bs-placement="top" title="Share by Email">
                                    <i class="icon an an-envelope" aria-hidden="true"></i><span class="share-title" aria-hidden="true">Email</span>
                                </a>
                            </div>
                            <!-- End Social Sharing -->
                            <div class="trustseal-img mt-4"><img src="assets/images/checkout-cards.png" alt=""></div>
                        </div>
                        <!-- End Product Info -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}